<header>
    <a href="/patients/liste" style="text-decoration: none; color: white; padding: 5px 15px; border-radius: 8px; border: none; background-color: rgb(35, 75, 192);" class="btn">LISTE PATIENT</a>
    <a style="text-decoration: none; color: white; padding: 5px 15px; border-radius: 8px; border: none; background-color: rgb(85, 152, 18);" class="btn" href="/patient/ajouter">AJOUTER PATIENT</a>
</header>